<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<table>
    <a href="{% url 'payapp:employee_create'%}">Create Position</a>
    <tr>
        <th>Id</th>
        <th>Employee Name</th>
        <th>Provident Fund %</th>
        <th>Stripe Account Number</th>
        <th>Position</th>
    </tr>
    {% for employee in employees %}
        <tr>
            <td>{{employee.id}}</td>
            {% comment %} {% url 'payapp:position_detail' position.id%} {% endcomment %}
            <td><a href="#">{{employee.employee}}</a></td>
            <td>{{employee.pf_percent}}</td>
            <td>{{employee.strip_account_id}}</td>
            <td><a href="{% url 'payapp:position_detail' employee.position.id%}">{{employee.position}}</a></td>
        </tr>
    {% endfor%}
</table>