<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<h1>Positions</h1>
<table>
    <a href="{% url 'payapp:position_create'%}">Create Position</a>
    <tr>
        <th>Id</th>
        <th>Position Name</th>
        <th>Base Salary</th>
        <th>Tada</th>
    </tr>
    {% for position in positions %}
        <tr>
            <td>{{position.id}}</td>
            <td><a href="{% url 'payapp:position_detail' position.id%}">{{position.position_name}}</a></td>
            <td>{{position.base_salary}}</td>
            <td>{{position.tada}}</td>
        </tr>
    {% endfor%}
</table>