<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<h1>Payments</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Transaction id</th>
        <th>Salary</th>
        <th>Accounted By</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td>{{transaction.id}}</td>
            <td>{{transaction.stripe_transaction_id}}</td>
            <td>{{transaction.user_salary}}</td>
            <td>{{transaction.accountant}}</td>
        </tr>
    {% endfor%}
</table>